/*html controls*/
html {
    position: relative;
    min-height: 100%;
}

/*Body controls*/
body {
    background-color: #fafafa;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0 0 100px;  /*bottom is equal to footer height*/
}

/*Changes background color of menu on hover*/
#headerBar .active  a:hover {
    background-color: #F90;
}

/*Adds color and padding to nav bar items */
.nav-pills {
    text-decoration: none ;
    color: #00F;
    padding: 20px 20px 20px 20px;
}

/*h1 controls*/
h1 {
    text-align: center;
    color: white;
    padding-top: 1px;
}

/*h2 controls*/
h2 {
    text-align: center;
    text-decoration: underline;
}
/*Header controls*/
#headerBar {
    height: 60px;
    background: black;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

/*Border around gSchool hours*/
.container {
    border-style: solid;
    border-width: 1px;
}

/*Logo controls*/
.logos {
    /*padding-right: 50px;*/
    height: 35px;
    width: 60px;

}

/*Github controls*/
#github {
    margin-left: 10px;
}

/*School & Work History controls*/
#schoolWorkHistory {
    margin-left: 10px;
    border:solid;
}

/*Container controls*/
#container {
      border-style: solid;
      border-width: 1px;
}

#showResume {
    border-radius: 25px
}

/*Bootstrap Jumbotron controls*/
/*.jumbotron {
    padding-left: 30px;
    padding-right: 60px;
    height: 10px;  WHAT IS THIS DOING? It seems to lock it to the footer, but changing the number from 10px to 100px doesn't seem to make a difference
    right: 300px;
}*/

/*.jumbotron p {
    color: black;
    text-align: right;
}*/

/*h3 controls*/
#schoolWorkHistory {
    text-decoration: underline;
    margin-left: 10px;
}

/*About  Me controls*/
.aboutme li {
    text-align:left;
}

/*Footer controls*/
#footerBar {
    height: 25px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}

