./*#menu {
    width: 500px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #FF140B;
    border-radius: 8px;
}*/

/*#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}*/

/*#menu li {
display: inline;
padding: 70px;
}*/

/*#menu a {
    text-decoration: ;
    color: #00F;
    padding: 8px 8px 8px 8px;
}
*/

/*#menu{
    text-align: center;
}*/

#menu a:hover {
    color: #F90;
}

.nav-pills{
    text-decoration: none ;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: #F90;
}

h1 {
    text-align: center;
}

.galvanizemins{
    position: absolute;
    right: 150px;
    width: 300px;
    border:3px solid black;
    padding: 8px;
    background-color: tan;
    margin-top: 100px;
}

.aboutme li{
    list-style-type: none;
}