/*body styling*/
/*body {
    font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
}*/

/*h1 {
    text-align: center;
}*/

/*gSchool  styling*/
/*#gSchool {
    margin-left: 18px;
}*/

/*AIM styling*/
/*#AIM {
    margin-left: 18px;
    float: right;
}*/

/*PBG styling*/
/*#PBG {
    margin-left: 18px;
}*/

/*UNO styling*/
/*#UNO {
    margin-left: 18px;
}*/

/*NIU styling*/
/*#NIU {
    margin-left: 18px;
}*/

/*Volunteer styling*/
/*#Volunteer {
    margin-left: 18px;
}
*/